name: Docker Image CI

env:
  DOCKER_ORGANISATION_NAME: wseresearch
  DOCKER_IMAGE_NAME: fake-question-answering-system

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      #Stardog Credentials
      #STARDOG_TRIPLESTORE_DATABASE: ${{ secrets.STARDOG_TRIPLESTORE_DATABASE }}
      #STARDOG_TRIPLESTORE_USERNAME: ${{ secrets.STARDOG_TRIPLESTORE_USERNAME }}
      #STARDOG_TRIPLESTORE_PASSWORD: ${{ secrets.STARDOG_TRIPLESTORE_PASSWORD }}
      #Virtuoso Credentials
      VIRTUOSO_TRIPLESTORE_GRAPH: ${{ secrets.VIRTUOSO_TRIPLESTORE_GRAPH }}
      VIRTUOSO_TRIPLESTORE_USERNAME: ${{ secrets.VIRTUOSO_TRIPLESTORE_USERNAME }}
      VIRTUOSO_TRIPLESTORE_PASSWORD: ${{ secrets.VIRTUOSO_TRIPLESTORE_PASSWORD }}

    steps:
#      Clone this repository
      - name: Check out this repository
        uses: actions/checkout@v4

#      Setup Java
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '11'

#      Get current version from pom.xml
      - name: Get current version from pom.xml
        run: echo "X_DOCKER_IMAGE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

#      Build the Docker image
      - name: Build the Docker image
        run: bash -c ./service_config/build_image.sh

#      Upload to Docker Hub
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push latest docker image
        run: docker push $DOCKER_ORGANISATION_NAME/$DOCKER_IMAGE_NAME:latest

      - name: Push docker image version
        run: docker push "$DOCKER_ORGANISATION_NAME/$DOCKER_IMAGE_NAME:$X_DOCKER_IMAGE_VERSION"

#      Update the service
      - name: Init update
        uses: WSE-research/docker-service-updater@v0.2.1
        with:
          updater_host: ${{ secrets.UPDATER_HOST }}
          api_key: ${{ secrets.API_KEY }}
